.DS_Store
# Config files are json files, ignore them
*.json

# Ignore our youtube cache directory
.yt_cache/

### Python ###
# Byte-compiled / optimized / DLL files
**/__pycache__/
*.cpython-310.pyc
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
